body {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 10px 30px;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 100px;
}
.navbar__logo a {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  margin-right: 0;
}
.navbar__menu {
  list-style: none;
  display: none;
}
.navbar__menu--item {
  margin-right: 50px;
}
.navbar__menu--item a {
  color: #ffffff;
  text-decoration: none;
}
.navbar__mobile_menu {
  list-style: none;
  position: relative;
  width: 100%;
  display: none;
  padding: 5%;
  border-color: grey;
  transition: opacity 5s;
  z-index: 1000;
  margin: auto;
}
.navbar__mobile_menu--item {
  margin: auto;
  text-align: center;
}
.navbar__mobile_menu--item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.navbar__button {
  display: none;
}
.navbar__button button {
  background-color: white;
  font-weight: bold;
  border-radius: 7px;
  color: black;
  padding: 10px 35px;
  border: none;
}
.navbar__hamburger {
  display: block;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .navbar {
    height: 80px;
    flex-wrap: wrap;
  }
  .navbar__logo {
    margin-right: 0;
  }
  .navbar__menu {
    display: flex;
  }
  .navbar__button {
    display: block;
  }
  .navbar__hamburger {
    display: none;
  }
}
.main {
  padding: 15px;
  margin-bottom: 20px;
}
.main .content {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column-reverse;
}
.main .content__text {
  grid-column: 1;
}
.main .content__text .content__description {
  color: black;
  padding: 0% 20%;
}
.main .content__image-img {
  width: 100%;
  object-fit: contain;
}
@media only screen and (min-width: 992px) {
  .main {
    padding: 100px;
  }
  .main .content {
    flex-direction: row;
  }
}
.main .card-list {
  display: flex;
  flex-direction: column;
}
.main .card-list .card {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  background-color: #E0E0E0;
  margin: 40px;
  text-align: center;
}
.main .card-list .card__title {
  margin-bottom: 10px;
  text-align: center;
}
.main .card-list .card__description {
  color: black;
}
.main .card-list .card__button {
  display: block;
  margin: auto;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #000000;
  color: #E0E0E0;
  border: none;
  cursor: pointer;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  .main .card-list {
    flex-direction: row;
  }
}

.footer {
  background-color: #E0E0E0;
  padding: 20px;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.footer__text {
  text-align: center;
  font-weight: bold;
}