$table_header: #000000;
$table_button: #000000;
$table_column: #E0E0E0;
$table_footer: #E0E0E0;
$container_width: 700px;
$first_col_width: 150px;

body {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $table_header;
  padding: 10px 30px;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 150px;

  &__logo {
    a {
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #ffffff;
      margin-right: 0
    }
  }

  &__menu {
    list-style: none;
    display: none;

    &--item {
      margin-right: 50px;


      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  &__mobile_menu {
    list-style: none;
    position: relative;
    width: 100%;
    display: none;
    padding: 5%;
    border-color: grey;
    transition: opacity 5s;
    z-index: 1000;
    margin: auto;

    &--item {
      margin: auto;
      text-align: center;

      a {
        color: white;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }

  &__button {
    display: none;


    button {
      background-color: white;
      font-weight: bold;
      border-radius: 7px;
      color: black;
      padding: 10px 35px;
      border: none;
    }
  }

  &__hamburger {
    display: block;
    cursor: pointer;
  }

  @media only screen and (min-width: 992px) {
    flex-wrap: wrap;

    &__logo {
      margin-right: 0;
    }

    &__menu {
      display: flex;

    }

    &__button {
      display: block;
    }
    &__hamburger {
      display: none;
    }
  }
}


.main {
  padding: 15px;
  margin-bottom: 20px;

  .content {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;

    &__text {
      grid-column: 1;

      .content__description {
        color: black;
        padding: 0% 20%;
      }
    }

    &__image {
      &-img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  @media only screen and (min-width: 992px) {
    padding: 100px;

    .content {
      flex-direction: row;
    }
  }

  .card-list {
    display: flex;
    flex-direction: column;

    .card {
      flex: 1;
      padding: 20px;
      border-radius: 8px;
      background-color: $table_column;
      margin: 40px;
      text-align: center;

      &__title {
        margin-bottom: 10px;
        text-align: center;
      }

      &__description {
        color: black;

      }

      &__button {
        display: block;
        margin: auto;
        padding: 8px 16px;
        border-radius: 8px;
        background-color: $table_button;
        color: #E0E0E0;
        border: none;
        cursor: pointer;
        align-items: center;
      }
    }
  }

  @media only screen and (min-width: 992px) {
    .card-list {
      flex-direction: row;
    }
  }

}

.footer {
  background-color: $table_footer;
  padding: 20px;
  bottom: 0;
  position: fixed;
  width: 100%;

  &__text {
    text-align: center;
    font-weight: bold;
  }
}


